body > *,
main {
  container-type: inline-size;
}

.max-section {
  margin: 0 auto;
  max-width: 1280px;
  padding-left: 25px;
  padding-right: 25px;
}

@mixin max-section {
  margin: 0 auto;
  max-width: 1280px;
  padding-left: 25px;
  padding-right: 25px;
}
