$primary-blue: #1e3a5f;
$secondary-blue: #2d4a6b;
$accent-yellow: #f59e0b;
$light-gray: #f8fafc;

$white: #fff;
$gray-50: #f7f7f7;
$gray-300: #b8c0cc;
$gray-600: #3b5881;
$gray-800: #152741;
$primary-50: #f7c234;
